
*{
margin: 0; padding: 0;

}
h1 {
  padding-left: 80px;
  padding-top: 40px;
  margin-bottom: 0;


  font-family: 'Gobold';
  font-size: 92px;
  color: white;
}
h3 {
  padding-left: 120px;
  margin-top: 0;
  font-family: 'Lato';
  font-style: bold;
  font-size: 24px;
  color: white;

}
.bapple {
  padding-left: 260px;
  padding-top: 20px;
  margin-top: 25px;
}
.apple {
  padding-left: 860px;
  padding-top: 0px;
  margin-top: 25px;
}
.icorn {
  padding-left: 260px;
  padding-top: 20px;
  margin-top: 25px;
  margin-left: 800px;
}
.icorn1 {
  padding-left: 130px;
  padding-top: 20px;
  margin-top: 140px;

}
.beach p {
  padding-left: 140px;
  padding-top: 100px;
  padding-right: 820px;
  margin-bottom: 0;
  font-family: 'Lato';
  font-style: italic;
  font-size: 36px;
  color: white;
}
.bodylanguage {
  background-image: url(images/gesture1.png);
  width: 100%;
  height: 771px;
  margin:0 auto;
  /*<img src="images/gesture1.png" alt="hands">*/
}

.bodylanguage p{
  font-family: 'lato';
  font-style: italic;
  font-weight: bold;
font-size: 24px;
color: white;
width: 25%;
margin-left: 1000px;
padding-top: 30px;
}
.bodylanguage h2{
  font-family: 'Gobold';
  /*font-style: italic;*/
  font-size: 36px;
color: white;
width: 25%;
margin-left: 1000px;
padding-top: 50px;
}
.talking {
  background-image: url(images/language1.png);
  width: 100%;
  height: 771px;
  /*<img src="images/language1.png" alt="people">*/
}
.talking p{
  font-family: 'lato';
  font-style: italic;
  font-weight: bold;
font-size: 24px;
color: white;
width: 25%;
margin-left: 80px;
padding-top: 30px;

}
.talking h2 {
  font-family: 'Gobold';
  /*font-style: italic;*/
  font-size: 36px;
color: white;
width: 25%;
margin-left: 80px;
padding-top: 50px;
}

.beach {
  /*background-image: url(http://www.quizzle.com/blog/wp-content/uploads/2010/10/world-traveler.jpg);*/
  background-image: url(images/traveltheworld.png);
  background-repeat: no-repeat;
  /*background-size:cover;*/
  width: 100%;
  height: 800px;
  /*min-height: 1200px;*/
}
.packing {
  background-image: url(images/luggage1.png);
  width: 100%;
  height: 771px;

}
.packing h2 {
  font-family: 'Gobold';
  /*font-style: italic;*/
  font-size: 36px;
color: white;
width: 25%;
margin-left: 1000px;
padding-top: 50px;
}

.packing p{
  font-family: 'lato';
  font-style: italic;
  font-weight: bold;
font-size: 24px;
color: white;
width: 25%;
margin-left: 1000px;
padding-top: 30px;
}
.packing img {
  padding-top: 80px;
}

.bar1 {
  width: 100%;
  height: 63px;
  background-color: #1F4A84;

}
.bar2 {
  width: 100%;
  height: 63px;
  background-color: #1F4A84;
}
.bar3 {
  width: 100%;
  height: 63px;
  background-color: #1F4A84;
}
.bar3a {
  width: 100%;
  height: 63px;
  background-color: #1F4A84;
}
.bar4 {
  width: 100%;
  height: 126px;
  background-color: #1F4A84;

}

.bar4 {
  text-align: center;
}
.bar4 p{
  text-align: left;
}
